# Environment files
.env
.env.*
**/.env
**/.env.*
!.env.example


# Python caches
__pycache__/
*.py[cod]

# Test coverage
.coverage
**/.coverage
htmlcov/
.pytest_cache/

# macOS
.DS_Store

services/rag-api/vector_db/
services/rag-api/metadata.db
services/rag-api/.env
